*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size-base;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: $font-weight-normal;
    color: $color-text;
    background-color: red;
    // background-color: $color-background;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight-bold;
    color: $color-text;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-text;

    &:hover,
    &:focus {
        color: darken($color-text, 20%);
        text-decoration: underline;
    }

    &:active {
        color: lighten($color-text, 10%);
    }
}

img,
svg,
video {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    padding: $spacing-unit;
    border: 1px solid $color-outline;
    border-radius: 4px;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 1px $color-text;
    }

    &.error {
        border-color: red;
    }
}

button,
[type='button'],
[type='reset'],
[type='submit'],
a.button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;

    &:hover,
    &:focus {
        background-color: darken($color-text, 10%);
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: $spacing-unit;
}

iframe,
embed,
object {
    max-width: 100%;
}

[hidden] {
    display: none !important;
}