.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: $gutter-width;
  margin: $gutter-width 0;
  width: 100%;
  max-width: $container-width;
  padding: 0 calc($gutter-width / 2);
  align-self: center;

  @include tablet {
      padding: 0 $gutter-width;
  }
}

@include mobile {
  .main-layout {
      border: solid calc($spacing-unit) $color-outline;
  }
}

@include tablet {
  .main-layout {
      border: solid calc($spacing-unit*2) $color-outline;

  }
}

@include desktop {
  .main-layout {
      border: solid calc($spacing-unit*5) $color-outline;
  }
}
