.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  box-shadow:
    inset -10px -10px 20px rgba(255, 255, 255, 0.25),
    inset 10px 10px 20px rgba(0, 0, 0, 0.25);

  // border: 1px solid $color-outline;
  border-radius: calc($spacing-unit*3);


}

.container {
  max-width: $container-width;
  align-self: center;
}

@include mobile {
  .main-layout {
    padding: calc($spacing-unit);
    margin: calc($spacing-unit);
  }
}

@include tablet {
  .main-layout {
    padding: calc($spacing-unit*2);
    margin: calc($spacing-unit*2);
  }
}

@include desktop {
  .main-layout {
    padding: calc($spacing-unit*5);
    margin: calc($spacing-unit*5);
  }
}